<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <h1>Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Wiki Title</label>
          <input type="text" name="title" value="<%= wiki.title %>" class="form-control" aria-describedby="titleHelp" placeholder="Edit Title">
        </div>
        <div class="form-group">
          <label for="Body">Wiki Body</label>
          <textarea name="body" rows="80" cols="80" class="form-control" placeholder="Edit body"> <%= wiki.body %> </textarea>
        </div>
        <% if (currentUser.role == 1 || currentUser.role == 2) { %>
          <div class="form-group">
            <label for="private">Private or Public</label>
            <select class="form-control" name="private">
              <option value="true">Private</option>
              <option value="false">Public</option>
            </select>
          </div>
        <% } else { %>
          <div class="form-group">
            <p>This will be a public Wiki. If you would like to make a private Wiki, consider upgrading to premium!</p>
          </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Update your wiki!</button>
      </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
