<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">

      <% include ../static/partials/navbar.ejs %>
      <h1>All Wikis</h1>

      <% if(currentUser) { %>
        <a href="/wikis/new" class="btn btn-success">Create Wiki!</a>
      <% } %>
      <ul class="list-group">

        <% wikis.forEach((wiki) => { %>
          <% if (wiki.private == true) { %>
            <li class="list-group-item">
              <div style="display: flex; align-items: center;">
                <div class="pull-left" style="width: 40px; text-align: center;">
                  <p>Private</p>
                </div>
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </div>
            </li>
          <% } else { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% } %>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
